body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('https://static.vecteezy.com/system/resources/previews/020/933/072/non_2x/abstract-blur-gradient-background-vector.jpg');
    margin: 0;
  }
  .calculator {
    width: 350px;
    height: 480px;
    background-color: #7d7c7c81;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.573);
  }
  #displaybutton {
    width: calc(100% - 10px);
    height: 70px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;text-shadow: 1px 0.5px rgba(255, 255, 255, 0.546);
  }
  .button {
    box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.479);
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 25%;
    background: transparent;
    color: #000000;
    cursor: pointer;
    font-size: 25px;
    background-color: #cccccc77;
  }
  button:hover {
    background-color: #c6c5c5b3;
  }
  .button:active {
    background-color: rgba(0, 0, 0, 0.247);
  }
.multiply{
  box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.479);
  border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 25%;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    background-color: #706e6e85;
}
.multiply:hover{
  background-image: white;
}
.multiply:active {
  background-color: rgba(82, 80, 80, 0.781);
}
.operator{
  box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.479);
  border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 25%;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    background-color: #65656585;
}
.operator:hover{
  background-image: white;
}
.operator:active {
  background-color: rgba(82, 80, 80, 0.781);
}
.equalbtn{
  width: 60px;height: 60px;margin: 10px; background-color:rgba(104, 189, 39, 0.733);
  font-size: 24px; border-radius: 25%; cursor: pointer;
}
.equalbtn:hover{
  background-image: rgb(255, 0, 247);
}
.equalbtn:active {
  background-color: rgba(0, 124, 213, 0.781);
}
.hello{
  background: #fdfdfd8f;  text-align: center; box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.498); color: rgba(44, 13, 219, 0.744);
 text-shadow:0.5px 1.5px 2px rgba(0, 0, 0, 0.628) ; border-radius: 25%;
}